@import "../../../variables";

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: $main-theme;
    color: white;
    padding: 8px 16px;
    z-index: 10;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include box-shadow;
}