@import "../../../variables";

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: $main-theme;
    color: white;
    height: $header-height;
    padding: 8px 16px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include box-shadow;

    h2 {
        margin: 0;
    }
}
