<div>
  <h1>List of patients</h1>
  <table mat-table [dataSource]="dataSource" matSort class="full-width mat-elevation-z8">
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td class="pointer-cursor" mat-cell *matCellDef="let patient"> {{patient.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td class="pointer-cursor" mat-cell *matCellDef="let patient"> {{patient.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="registeredDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Registration Date</th>
      <td class="pointer-cursor" mat-cell *matCellDef="let patient"> {{patient.registeredDate | date}} </td>
    </ng-container>
    <ng-container matColumnDef="doctorFullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Doctor</th>
      <td class="pointer-cursor" mat-cell *matCellDef="let patient"> {{patient.doctorFullName}} </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Home</th>
      <td mat-cell *matCellDef="let patient">
        <div (click)="$event.stopPropagation()" class="address-string" [innerHTML]="patient.addresses | address"></div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let patient; columns: columnsToDisplay;" [routerLink]="['/patient', patient.id]"></tr>
  </table>
</div>
