<div>
  <table appSortableTable (sorted)="onSorted($event)">
    <thead>
    <tr>
      <th app-sortable-column="lastName">Last Name</th>
      <th>First Name</th>
      <th app-sortable-column="registeredDate">Registration date</th>
      <th app-sortable-column="doctorFullName">Doctor</th>
      <th>Home</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients" [routerLink]="['/patient', patient.id]">
      <td>{{patient.lastName}}</td>
      <td>{{patient.firstName}}</td>
      <td>{{patient.registeredDate | date}}</td>
      <td>{{patient.doctorFullName}}</td>
      <td class="address-string">
        <div [outerHTML]="patient.addresses | address"></div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

