<div>
  <h1>Add Patient</h1>

  <div class="container">
    <form [formGroup]="addPatientForm" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" aria-label="First name" formControlName="firstName">
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" aria-label="Last name" formControlName="lastName">
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <input type="text" matInput placeholder="Doctor" formControlName="doctor" aria-label="Doctor" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayDoctorName">
              <mat-option *ngFor="let doctor of filteredDoctors | async" [value]="doctor">
                {{doctor.lastName + ' ' + doctor.firstName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div formArrayName="addresses" class="container">
        <h2>Addresses</h2>
        <button mat-raised-button color="primary" type="button" (click)="addAddress()">Add Address</button>

        <div class="row">
          <div class="col vertical-padding-12" *ngFor="let address of addresses.controls; let i = index;" [formGroupName]="i">
            <mat-card>
              <mat-card-content>
                <div class="row">
                  <div class="col" *ngIf="checkIfFirstAddress(i)">
                    <mat-form-field>
                      <mat-select placeholder="Type" formControlName="type">
                        <mat-option *ngFor="let type of addressTypes" [value]="type">
                          {{type}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col" *ngIf="address.value.type === 'HOME'">
                    <mat-form-field>
                      <input matInput placeholder="Name" aria-label="Name" formControlName="name">
                    </mat-form-field>
                  </div>

                  <div class="col">
                    <mat-form-field>
                      <input matInput placeholder="Email" aria-label="Email" formControlName="email">
                    </mat-form-field>
                  </div>

                  <div class="col">
                    <mat-form-field>
                      <input matInput placeholder="Phone" aria-label="Phone" formControlName="phone">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <mat-form-field>
                      <input disabled matInput ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                    </mat-form-field>
                  </div>

                  <div class="col">
                    <mat-form-field>
                      <input disabled matInput placeholder="City" aria-label="City" formControlName="city">
                    </mat-form-field>
                  </div>

                  <div class="col">
                    <mat-form-field>
                      <input disabled matInput placeholder="Zip code" aria-label="Zip code" formControlName="zipcode">
                    </mat-form-field>
                  </div>

                  <div class="col">
                    <mat-form-field>
                      <input disabled matInput placeholder="Country" aria-label="Country" formControlName="country">
                    </mat-form-field>
                  </div>
                </div>
                <button mat-raised-button color="warn" *ngIf="checkIfFirstAddress(i)" type="button" (click)="removeAddress(i)">Remove Address</button>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
</div>