@import "../variables";

.main-content {
  padding-top: $header-height + $container-padding-top;
  padding-left: $sidebar-width + $container-padding-left;
  padding-bottom: $footer-height + $container-padding-top;
}