@import "../variables";

#container {
  height: 100vh;
  overflow: auto;
}

.main-content-wrapper {
  position: relative;
  min-height: 100%;
}

.main-content {
  padding-top: $header-height + $container-padding-top;
  padding-left: $sidebar-width + $container-padding-left;
  padding-right: $container-padding-left;
  padding-bottom: $footer-height + $container-padding-top;
}