<nav class="navbar navbar-static-left ">
  <div class="navbar-header">
    <a routerLink="/dashboard" class="navbar-logo">
      <img src="assets/images/Steam_icon_logo.svg" style="width: 25px; margin: auto">
    </a>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active" class="router-link">
          <i class="material-icons">
            dashboard
          </i>
        </a>
      </li>
      <li>
        <a routerLink="/patients" routerLinkActive="active" class="router-link">
          <i class="material-icons">
            view_list
          </i>
        </a>
      </li>
      <li>
        <a routerLink="/add-patient" routerLinkActive="active" class="router-link">
          <i class="material-icons">
            note_add
          </i>
        </a>
      </li>
    </ul>
  </div>
</nav>
