<nav class="navbar navbar-static-left ">
  <div class="navbar-header">
    <a class="navbar-brand">
      <img src="assets/images/Steam_icon_logo.svg" style="width: 25px; margin: auto">
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-menu-left">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/dashboard">
          <span class="icon-project">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/add-patient">
          <span class="icon-project">Add patient</span>
        </a>
      </li>
      <li>
        <a routerLink="/patients">
          <span class="icon-project">List</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
