@import "../../../variables";

nav {
  display: block;
  padding: $header-height 0 $footer-height;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: $sidebar-width;
  z-index: 9;
  @include box-shadow;
}

.navbar-header {
  margin: 20px 0 8px;
}

.navbar-logo {
  display: block;
  padding: 0px 9px 0px;

  img {
    display: block;
    width: 25px;
    margin: auto;
  }
}

.navbar-nav {
  list-style: none;
  padding: 0;

  li {
    display: block;
    position: relative;

    a {
      background: rgba(30, 45, 65, 0.04);
      text-decoration: none;
      cursor: pointer;
      padding: 0;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      border-radius: 50%;
      display: block;
      background: white;
      color: rgba(30, 45, 65, 0.54);
      position: relative;
      overflow: hidden;

      i {
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
      }
    }
  }
}