$header-height: 44px;
$footer-height: 60px;
$sidebar-width: 52px;
$main-theme: #3f51b5;
$highlight: #3946e1;
$container-padding-top: 12px;
$container-padding-left: 20px;

@mixin box-shadow() {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12)
}